<div class='row'>
  <div class='col-sm-6'>
    <% if f.object.nombres == 'N' %>
      <%= f.object.nombres = '' %>
    <% end %>
    <%= f.input :nombres, 
      label: 'Nombres (será público)'
    %>
  </div>
  <% if f.object.apellidos == 'N' %>
    <%= f.object.apellidos = '' %>
  <% end %>
  <div class='col-sm-6'>
    <%= f.input :apellidos, 
      label: 'Apellidos (será público)'
    %>
  </div>
</div> <!-- row -->

<div class='row'>
  <div class='col-sm-6'>
    <% if f.object.institucion == 'N' %>
      <%= f.object.institucion = '' %>
    <% end %>
    <%= f.input :institucion,
      label: 'Institución (será público)'  %>
  </div>
  <div class='col-sm-6'>
    <%= f.input :urlinstitucion%>
  </div>
</div> <!-- row -->


<div class='row'>
  <div class='col-sm-6'>
    <%= f.input :email, 
      label: 'Correo electrónico (será privado)'
    %>
  </div>
  <% if current_usuario %>
    <div class='col-sm-6'>
      <%= f.association :tema, 
        collection: Sip::Tema.habilitados,
        label_method: :nombre
      %>
    </div>
  <% end %>
</div> <!-- row -->

<div class='row'>
  <div class='col-sm-6'>
  </div>
</div> <!-- row -->
 
<div class='row'>
  <div class='col-sm-6'>
    <%= f.input :password, 
      label: 'Clave (almacenaremos condensando pero no la clave plana)',
      :required => true 
    %>
  </div>
  <div class='col-sm-6'>
    <%= f.input :password_confirmation, 
      label: 'Confirmación de Clave',
      :required => true 
    %>
  </div>
</div>

<% if !current_usuario %>
  <div class='row'>
    <div class='col-sm-1'>
      <%= f.input :aceptappd, 
        as: :boolean, 
        html_input: {
          checked: true,
        },
        label: false %>
    </div>
    <div class='col-sm-11'>
      Acepta la 
      <%= link_to 'política de protección de datos y los términos de uso', 
        ppd_path, target: '_blank' %>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-sm-1'>
    <%= f.input :aceptacc, 
      as: :boolean, 
      html_input: {
        checked: true
      },
      label: false %>
  </div>
  <div class='col-sm-11'>
    Acepta recibir correos con novedades sobre esta aplicación web y 
    publicidad de Pasos de Jesús.
  </div>
</div>

