<% if @registro.nil? %>
  <% return %>
<% end %>
<%= simple_form_for @registro, 
  url: modelo_path(@registro),
  html: @encform_html.nil? ? { class: 'form-horizontal'} : @encform_html,
  wrapper: :horizontal_form,
  defaults: { input_html: { class: 'span10' } } do |f| 
%>
  <%= render partial: 'sip/hogar/errores', locals: { f: f } %> 
  <% if @fotoe14 && @tabuladefoto %>
    <!-- TODO: asociar la foto a la tabulacion en caso de que tabule de foto y 
      no de PDF oficial -->
    <% f.object.fotoe14_id = @fotoe14.id %>
  <% end %>
  <div class="row">
    <div class='col-6'>
      <div class='row'>
        <% f.object.eleccion_id = params[:eleccion_id] ? params[:eleccion_id].to_i : Rails.configuration.x.eleccion %>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, 
                    atr: :eleccion_id,
                    opciones: {deshabilitar: current_usuario.rol != Ability::ROLADMIN}
        } %>
      </div>

      <div class='row'>
        <% f.object.usuario_id = current_usuario.id %>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, 
                    atr: :usuario_id,
                    opciones: {deshabilitar: current_usuario.rol != Ability::ROLADMIN}
        } %>
      </div>

      <div class='row'>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, atr: :municipio_id } %>
      </div>

      <div class='row'>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :zona} %>
        </div>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :puesto} %>
        </div>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :mesa} %>
        </div>
      </div>

      <div class='row'>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :totalsufragantes } %>
        </div>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :totalurna} %>
        </div>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :totalincinerados} %>
        </div>
      </div>
      <%num = f.object.eleccion ? f.object.eleccion.numcandidatos : 12 %>
      <% (1..num).each do |n| %>
        <div class='row'>
          <div class='col-2'>
            <%= n %>
          </div>
          <div class='col-6'>
            <%= f.object.eleccion ? f.object.eleccion["candidato#{n}"] : '' %>
          </div>
          <div class='col-4'>
            <%= render partial: 'sip_campo_aut', 
              locals: { f: f, atr: "c#{n}".to_sym, opciones: {etiqueta: false} } %>
          </div>
        </div>
      <% end %>
      <div class='row'>
        <div class='col-8'>
          VOTOS EN BLANCO
        </div>
        <div class='col-4'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :blanco, opciones: {etiqueta: false} } %>
        </div>
      </div>
      <div class='row'>
        <div class='col-8'>
          VOTOS NULOS
        </div>
        <div class='col-4'>
            <%= render partial: 'sip_campo_aut', 
              locals: { f: f, atr: :nulos, opciones: {etiqueta: false} } %>
        </div>
      </div>
      <div class='row'>
        <div class='col-8'>
          VOTOS NO MARCADOS
        </div>
        <div class='col-4'>
            <%= render partial: 'sip_campo_aut', 
              locals: { f: f, atr: :nomarcados, opciones: {etiqueta: false}} %>
        </div>
      </div>
      <div class='row'>
        <div class='col-8'>
          TOTAL DE VOTOS DE LA MESA
        </div>
        <div class='col-4'>
            <%= render partial: 'sip_campo_aut', 
              locals: { f: f, atr: :votosmesa, opciones: {etiqueta: false}} %>
        </div>
      </div>
      <div class='row'>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, atr: :otrasconstancias} %>
      </div>
      <div class='row'>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, atr: :recuento_id } %>
      </div>
      <div class='row'>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, atr: :solicitadopor} %>
      </div>
      <div class='row'>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, atr: :enrepde} %>
      </div>
      <div class='row'>
        <div class='col-6'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :ccjurado1} %>
        </div>
        <div class='col-6'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :ccjurado2} %>
        </div>
      </div>
      <div class='row'>
        <div class='col-6'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :ccjurado3} %>
        </div>
        <div class='col-6'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :ccjurado4} %>
        </div>
      </div>
      <div class='row'>
        <div class='col-6'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :ccjurado5} %>
        </div>
        <div class='col-6'>
          <%= render partial: 'sip_campo_aut', 
            locals: { f: f, atr: :ccjurado6} %>
        </div>
      </div>
      <div class='row'>
        <%= render partial: 'sip_campo_aut', 
          locals: { f: f, atr: :observaciones} %>
      </div>
    </div>
    <div class='col-6'>

      <% if @fotoe14 %>
        <% if @tabuladefoto %>
          <div>
            <%= f.simple_fields_for :denuncia_foto_mala do |d| %>

              <%= render partial: 'sip_campo_aut', 
                locals: { d: d, atr: :motivo} %>
            <% end %>
          </div>
        <% end %>
        <embed src="<%= @fotoe14.url_local %>"  scrolling="auto" height="100%" width="100%"/>
      <% end %>
    </div>
  </div>

  <div align='center'>
    <%= render partial: 'form_pie', locals: {clase: clase, f: f} %>
  </div>
 
<% end %>
