<p>
Con la colaboración de <a href='https://app.fotoe14.co/'>https://app.fotoe14.co/'</a> esperamos que esta
funcionalidad opere con fotografías de los E-14 
enviadas por los testigos electorales desde el 19 de 
Junio a medida que se cierran las mesas.
</p>
<p>
Mientras tanto puede entrenarse y colaborar
tabulando formularios E-14 de la 
primera vuelta o segunda vuelta así:
<ol>
  <li>Elija una mesa de segunda vuelta desde 
<a href='https://divulgacione14presidencia2v.registraduria.gov.co/' target='_blank'>la página de la registraduría</a> o bien una de primera vuelta desde
<a href='https://divulgacione14presidencia.registraduria.gov.co/' target='_blank'>la página de la registraduría</a>
y abra la foto del formulario E-14 correspondiente a la mesa.</li>
  <li>Ubique la misma 
    mesa en los resultados de este bien de 
    <%= link_to 'segunda vuelta', main_app.elecciones_nacional_path(id: 2) %> o bien de <%= link_to 'primera vuelta', main_app.elecciones_nacional_path(id: 1) %>. </li>
  <li>En la parte inferior de la página de la mesa presione el botón "Tabular E-14 para esta mesa"</li>
  <li>Copie lo más fiel que le sea posible el contenido de la E-14 en el formulario que se abrirá y una vez termine presione Guardar.</lI>
  <li>Tras esto podrá ver los resultados actualizados</li>
</ol>
